header {
	text-align: center;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#matrix {
    margin-left: auto;
    margin-right: auto;
	display: flex;
	flex-flow: row wrap;
	width: 23em;
	background: #FAFAFA;
	align-items: center;
	justify-content: center;
}

#matrix1 {
    order: 1;
	width: 9em;
	height: 40%;
}

.parent {
	display: flex;
	flex-flow: row wrap;
	width: 9em;
	background: #FAFAFA;
	align-items: center;
	justify-content: center;
}

.title {
	order: 1;
	font-family: Arial, Helvetica, sans-serif;
	width: 9em;
	height: 10%;
	text-align: center;
}

/* rows and columns */

.r1c1 {
    order: 2;
    width: 3em;
    height: 10%;
    text-align: center;
}

.r1c2 {
        order: 2;
        width: 3em;
        height: 10%;
        text-align: center;
    }

.r1c3 {
    order: 2;
    width: 3em;
    height: 10%;
    text-align: center;
}

.r2c1 {
    order: 2;
    width: 3em;
    height: 10%;
    text-align: center;
}

.r2c2 {
        order: 2;
        width: 3em;
        height: 10%;
        text-align: center;
    }

.r2c3 {
    order: 2;
    width: 3em;
    height: 10%;
    text-align: center;
}

.r3c1 {
    order: 2;
    width: 3em;
    height: 10%;
    text-align: center;
}

.r3c2 {
        order: 2;
        width: 3em;
        height: 10%;
        text-align: center;
    }

.r3c3 {
    order: 2;
    width: 3em;
    height: 10%;
    text-align: center;
}

/* Calculate */

.function {
	width: 8em;
	height: 10%;
	border-radius: 2em;
}

/* Output field*/

#console {
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 40%;
	height: 50%;
}