
/* Author: @Subash Praveen Instagram: @sub._.praveen Github: @SUBASH2309 */


/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* General */
 /* to remove number spin button */
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

/* Copyright */
#copyright {
  width: 610px;
  height: 28px;
  left: 398px;
  top: 1115px;
  position: absolute;
  text-align: center;
  color: #3f3f3f;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

/* background */
#bg-drop {
  width: 1440px;
  height: 944px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #fafafa;
}

.header {
  width: 1284px;
  height: 81px;
  left: 62px;
  top: 70px;
  position: absolute;
}

#topic {
  width: 755px;
  height: 68px;
  left: -50px;
  top: -40px;
  position: absolute;
  color: black;
  font-size: 48px; 
  font-family: Poppins; 
  font-weight: 600; 
  word-wrap: break-word
}