/* Author: @Subash Praveen Instagram: @sub._.praveen Github: @SUBASH2309 */

/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* General */
html {
  scroll-behavior: smooth;
  max-height: max-content;
  max-width: max-content;
  overflow-x: hidden;
}

/* to remove number spin button */
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

table,
td,
tr {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* background */
#bg-drop {
  width: 1440px;
  height: 944px;
  background: #ffffff00;
}

.header {
  width: 100%;
  height: 81px;
  left: 62px;
  top: 70px;
  position: absolute;
}

#topic {
  /* width: 755px;
  height: 68px; */
  left: -25px;
  top: -40px;
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-family: Poppins;
  font-weight: 600;
}

#topic:hover {
  cursor: pointer;
}

#logotext {
  width: 132px;
  height: 25px;
  left: 1080px;
  top: 30px;
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

#logotext:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: rgb(181, 181, 181);
  transition: 300ms;
}

#gitlogo {
  width: 62px;
  height: 52px;
  left: 1105px;
  top: -25px;
  position: absolute;
}

#gitlogo:hover {
  cursor: pointer;
}

/* Matrix inputs */
#input-matrix-text-3x3 {
  top: 140px;
  left: 100px;
  height: 37px;
  width: 160px;
  color: black;
  font-size: 26px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  position: absolute;
}

#input-matrix-text-2x2 {
  top: 190px;
  left: 150px;
  height: 37px;
  width: 160px;
  color: black;
  font-size: 26px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  position: absolute;
}

#input-matrix-text-3x3:hover {
  cursor: default;
}
#input-matrix-text-2x2:hover {
  cursor: default;
}

#input-box-bg-3x3 {
  width: 325px;
  height: 250px;
  top: 185px;
  left: 100px;
  position: absolute;
  padding-top: 21px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background: #e0dcdc;
  box-shadow: 2.5px 6px 6px rgba(0, 0, 0, 0.3);
  border-radius: 18px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
#input-box-bg-2x2 {
  width: 220px;
  height: 150px;
  top: 235px;
  left: 145px;
  position: absolute;
  padding-top: 21px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background: #e0dcdc;
  box-shadow: 2.5px 6px 6px rgba(0, 0, 0, 0.3);
  border-radius: 18px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

/* Matrix cells */
/* 3x3 */
/* r1c1 */
#threer1c1 {
  width: 80px;
  height: 50px;
  left: 120px;
  top: 210px;
  background: white;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
}

#threer1c1:focus {
  outline: none;
}

/* r1c2 */
#threer1c2 {
  width: 80px;
  height: 50px;
  left: 240px;
  top: 210px;
  background: white;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
}

#threer1c2:focus {
  outline: none;
}

/* r1c3 */
#threer1c3 {
  width: 80px;
  height: 50px;
  left: 360px;
  top: 210px;
  background: white;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
}

#threer1c3:focus {
  outline: none;
}
/* r2c1 */
#threer2c1 {
  width: 80px;
  height: 50px;
  left: 120px;
  top: 300px;
  position: absolute;
  background: white;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

#threer2c1:focus {
  outline: none;
}

/* r2c2 */
#threer2c2 {
  width: 80px;
  height: 50px;
  left: 240px;
  top: 300px;
  position: absolute;
  background: white;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

#threer2c2:focus {
  outline: none;
}

/* r2c3 */
#threer2c3 {
  width: 80px;
  height: 50px;
  left: 360px;
  top: 300px;
  position: absolute;
  background: white;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

#threer2c3:focus {
  outline: none;
}

/* r3c1 */
#threer3c1 {
  width: 80px;
  height: 50px;
  left: 120px;
  top: 390px;
  position: absolute;
  background: white;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

#threer3c1:focus {
  outline: none;
}

/* r3c2 */
#threer3c2 {
  width: 80px;
  height: 50px;
  left: 240px;
  top: 390px;
  position: absolute;
  background: white;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

#threer3c2:focus {
  outline: none;
}

/* r3c3 */
#threer3c3 {
  width: 80px;
  height: 50px;
  left: 360px;
  top: 390px;
  position: absolute;
  background: white;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

#threer3c3:focus {
  outline: none;
}

/* 2x2 */
/* r1c1 */
#twor1c1 {
  width: 80px;
  height: 50px;
  left: 180px;
  top: 260px;
  position: absolute;
  background: white;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

#twor1c1:focus {
  outline: none;
}

/* r1c2 */
#twor1c2 {
  width: 80px;
  height: 50px;
  left: 300px;
  top: 260px;
  position: absolute;
  background: white;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

#twor1c2:focus {
  outline: none;
}

/* r2c1 */
#twor2c1 {
  width: 80px;
  height: 50px;
  left: 180px;
  top: 340px;
  position: absolute;
  background: white;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

#twor2c1:focus {
  outline: none;
}

/* r2c2 */
#twor2c2 {
  width: 80px;
  height: 50px;
  left: 300px;
  top: 340px;
  position: absolute;
  background: white;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

#twor2c2:focus {
  outline: none;
}

#twoxtwo {
  width: 90px;
  height: 45px;
  font-size: 24px;
  font-weight: 500;
  word-wrap: break-word;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  left: 175px;
  top: 500px;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.3);
  position: absolute;
  background: white;
  border-radius: 24px;
  overflow: hidden;
  border: 1px black solid;
  backdrop-filter: blur(20px);
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

#twoxtwo:hover {
  background: rgb(53, 53, 53);
  color: white;
  border: 1px rgb(53, 53, 53);
  transition: all 150ms ease-in;
}

#threexthree {
  width: 90px;
  height: 45px;
  font-size: 24px;
  font-weight: 500;
  word-wrap: break-word;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  left: 275px;
  top: 500px;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.3);
  position: absolute;
  background: white;
  border-radius: 24px;
  overflow: hidden;
  border: 1px black solid;
  backdrop-filter: blur(20px);
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

#threexthree:hover {
  background: rgb(53, 53, 53);
  color: white;
  border: 1px rgb(53, 53, 53);
  transition: all 150ms ease-in;
}

#cal2 {
  width: 125px;
  height: 50px;
  font-size: 24px;
  font-weight: 500;
  word-wrap: break-word;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  left: 210px;
  top: 575px;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.3);
  position: absolute;
  background: white;
  border-radius: 24px;
  overflow: hidden;
  border: 1px black solid;
  backdrop-filter: blur(20px);
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

#cal2:hover {
  background: rgb(53, 53, 53);
  color: white;
  border: 1px rgb(53, 53, 53);
  transition: all 150ms ease-in;
}

#cal3 {
  width: 125px;
  height: 50px;
  font-size: 24px;
  font-weight: 500;
  word-wrap: break-word;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  left: 210px;
  top: 575px;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.3);
  position: absolute;
  background: white;
  border-radius: 24px;
  overflow: hidden;
  border: 1px black solid;
  backdrop-filter: blur(20px);
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

#cal3:hover {
  background: rgb(53, 53, 53);
  color: white;
  border: 1px rgb(53, 53, 53);
  transition: all 150ms ease-in;
}

#output-text {
  top: 130px;
  left: 690px;
  height: 37px;
  color: black;
  font-size: 26px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  position: absolute;
}

#output-text:hover {
  cursor: default;
}

#tm {
  top: 110vh;
  left: 11vh;
  position: absolute;
}

#tm-border {
  width: 190vh;
  height: 50vh;
  background: rgba(255, 255, 255, 0);
  border-radius: 20px;
  border: 1px #3f3f3f solid;
  display: flex;
}

#tm-title {
  top: 3vh;
  left: 3vh;
  position: absolute;
}

#tm-text {
  width: 100%;
  height: 45px;
  color: black;
  font-size: 26px;
  font-family: Poppins;
  font-weight: 500;
}

#tm-text-underline {
  width: 208px;
  height: 4px;
  background: #e0dcdc;
  border-radius: 20px;
}

#tm-profiles {
  top: 16vh;
  left: 16vh;
  position: absolute;
}

#tm-names {
  top: 36vh;
  left: 12vh;
  position: absolute;
}

#sub {
  width: 168.44px;
  left: -2vh;
  color: black;
  position: absolute;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  cursor: default;
}

#sub:hover {
  cursor: pointer;
}

#sub-pic {
  cursor: default;
}

#sub-pic:hover {
  cursor: pointer;
}

#sar {
  width: 156px;
  left: 32vh;
  color: black;
  position: absolute;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  cursor: default;
}

#hem {
  width: 168.44px;
  left: 66vh;
  color: black;
  position: absolute;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  cursor: default;
}

#bha {
  width: 106px;
  left: 104vh;
  color: black;
  position: absolute;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  cursor: default;
}

#aru {
  width: 182px;
  left: 134vh;
  color: black;
  position: absolute;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  cursor: default;
}

textarea {
  resize: none;
  background: white;
  width: 600px;
  height: 390px;
  margin-top: 10.5rem;
  margin-left: 42rem;
  position: relative;
  background: white;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 18px;
  border: 1px #e0dcdc solid;
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  #topic {
    width: 250px;
    height: 100px;
    left: -34px;
    color: black;
    font-size: 30px;
    word-wrap: break-word;
  }

  #logotext {
    width: 105px;
    height: 24px;
    left: 226px;
    top: 30px;
    font-size: 16px;
  }

  #gitlogo {
    width: 50px;
    height: 50px;
    left: 250px;
  }

  .mat-3x3 {
    top: 25px;
    left: -80px;
    position: absolute;
  }

  .mat-2x2 {
    top: 25px;
    left: -80px;
    position: absolute;
  }

  .mat-sel {
    top: 30px;
    left: -75px;
    position: absolute;
  }

  /* #cal2 {
    top: 500px;
    left: 218px;
    position: absolute;
  } */
}
